@import 'mixins';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: $white;

  @include responsive(tablet) {
    font-size: 3.2rem;
  }

  @include responsive(mobilni) {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  opacity: 0.9;
  color: $textColor;
  letter-spacing: 0.6px;
}

a {
  color: $white;
  text-decoration: none;
}